@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    color: black;
    padding: 1rem 0;
    text-align: center;
    /* box-shadow: 0px 1px 10px black; */
}


nav ul li a.active {
    color: red;
}

.dropdown {
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    overflow: hidden;

}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

nav ul li a.active {
    color: red;
}
form {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(254, 254, 254);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

button:hover {
    background-color: #555;
}

#results {
    display: none;
}

.exercise-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.exercise-item img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}


#formResults {
    font-size: 17px;
    text-align: center;
}

#ApiResults {
    display: flex;
    flex-wrap: wrap; /* Allows the items to wrap to the next line */
    gap: 10px; /* Adds space between items */
}

.exercise-item {
    flex: 1 1 calc(20% - 10px); /* 20% of the width minus the gap */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.exercise-item img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}